<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 
  <appSettings>
    <add key="baseAddress"  value="net.tcp://localhost:WCFPORT/UniqeWCFService" />
    <!-- possible 7y8tAllowedImpersonationLevel values are: Anonymous, Delegation, Identification, Impersonation, None -->
    <add key="AllowedImpersonationLevel"  value="Impersonation" />
    <add key="OverrideReliableMessagingProperties" value="true"/>
    <add key="MaxPendingChannels" value="16384" />
    <add key="MaxTransferWindowSize" value="4096" />
    <!--<add key="alternateSPN" value="rf3sap420n1.rf3stg.mfgint.intel.com" />-->
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint behaviorConfiguration="UniqeClientBehavior" binding="netTcpBinding"
        bindingConfiguration="duplexTcp" contract="Intel.FabAuto.ESFW.DS.UBER.Uniqe.Core.IUniqeClient"
        name="netTcp">
        <identity>
          <certificateReference storeName="My" storeLocation="LocalMachine"
            x509FindType="FindBySubjectDistinguishedName" />
        </identity>
      </endpoint>
      <endpoint behaviorConfiguration="UniqeClientBehavior" binding="netTcpBinding"
        bindingConfiguration="duplexTcpNoRS" contract="Intel.FabAuto.ESFW.DS.UBER.Uniqe.Core.IUniqeClient"
        name="netTcpNoRs">
        <identity>
          <certificateReference storeName="My" storeLocation="LocalMachine"
            x509FindType="FindBySubjectDistinguishedName" />
        </identity>
      </endpoint>
      <endpoint behaviorConfiguration="UniqeClientBehavior" binding="netTcpBinding"
       bindingConfiguration="duplexTcpNoRSOAuth" contract="Intel.FabAuto.ESFW.DS.UBER.Uniqe.Core.IUniqeClient"
       name="netTcpNoRsOAuth">
      </endpoint>
      <endpoint behaviorConfiguration="UniqeClientBehavior" binding="netTcpBinding"
         bindingConfiguration="duplexTcpNoRSOAuthSecure" contract="Intel.FabAuto.ESFW.DS.UBER.Uniqe.Core.IUniqeClient"
         name="netTcpNoRsOAuthSecure">
      </endpoint>
      <endpoint behaviorConfiguration="UniqeClientBehavior" binding="netTcpBinding"
        bindingConfiguration="duplexTcpNoRSKrb" contract="Intel.FabAuto.ESFW.DS.UBER.Uniqe.Core.IUniqeClient"
        name="netTcpNoRsKrb">
        <!--
          <identity>
          <servicePrincipalName value="HOST/RF3DAP110N1.LTDAuto.intel.com" />
        </identity>
          -->
      </endpoint>
      <endpoint behaviorConfiguration="UniqeClientBehavior" binding="netNamedPipeBinding"
        bindingConfiguration="duplexIPC" contract="Intel.FabAuto.ESFW.DS.UBER.Uniqe.Core.IUniqeClient"
        name="netIPC">
        <identity>
          <certificateReference storeName="My" storeLocation="LocalMachine"
            x509FindType="FindBySubjectDistinguishedName" />
        </identity>
      </endpoint>
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="duplexTcpNoRSOAuth" sendTimeout="03:00:00" transferMode="Buffered"
         receiveTimeout="03:00:00"
         transactionProtocol="OleTransactions" maxBufferPoolSize="104857600"
         maxBufferSize="655360000" maxConnections="5000" listenBacklog="1000" maxReceivedMessageSize="655360000"
         portSharingEnabled="false">
          <readerQuotas maxStringContentLength="655360000" maxArrayLength="655360000"
            maxBytesPerRead="655360" />
          <reliableSession inactivityTimeout="03:00:00" enabled="false" />
          <security mode="None"/>
        </binding>
        <binding name="duplexTcpNoRSOAuthSecure" sendTimeout="03:00:00" transferMode="Buffered"
           receiveTimeout="03:00:00"
           transactionProtocol="OleTransactions" maxBufferPoolSize="104857600"
           maxBufferSize="655360000" maxConnections="5000" listenBacklog="1000" maxReceivedMessageSize="655360000"
           portSharingEnabled="false">
          <readerQuotas maxStringContentLength="655360000" maxArrayLength="655360000"
            maxBytesPerRead="655360" />
          <reliableSession inactivityTimeout="03:00:00" enabled="false" />
          <security mode="Message"/>
        </binding>
        <binding name="duplexTcp" sendTimeout="02:00:00" transferMode="Buffered"
          receiveTimeout="02:00:00"
          transactionProtocol="OleTransactions" maxBufferPoolSize="10485760"
          maxBufferSize="655360000" maxConnections="5000" listenBacklog="100" maxReceivedMessageSize="655360000"
          portSharingEnabled="false">
          <readerQuotas maxStringContentLength="655360000" maxArrayLength="655360000"
            maxBytesPerRead="655360" />
          <reliableSession inactivityTimeout="02:00:00" enabled="true" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="None" />
            <message clientCredentialType="Windows" algorithmSuite="Basic128" />
          </security>
        </binding>
        <binding name="duplexTcpNoRS" sendTimeout="03:00:00" transferMode="Buffered"
          receiveTimeout="03:00:00"
          transactionProtocol="OleTransactions" maxBufferPoolSize="10485760"
          maxBufferSize="655360000" maxConnections="5000" listenBacklog="100" maxReceivedMessageSize="655360000"
          portSharingEnabled="false">
          <readerQuotas maxStringContentLength="655360000" maxArrayLength="655360000"
            maxBytesPerRead="655360" />
          <reliableSession inactivityTimeout="03:00:00" enabled="false" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="None" />
            <message clientCredentialType="Windows" algorithmSuite="Basic128" />
          </security>
        </binding>
        <binding name="duplexTcpNoRSKrb" sendTimeout="03:00:00" transferMode="Buffered"
          receiveTimeout="03:00:00"
          transactionProtocol="OleTransactions" maxBufferPoolSize="10485760"
          maxBufferSize="655360000" maxConnections="5000" listenBacklog="100" maxReceivedMessageSize="655360000"
          portSharingEnabled="false">
          <readerQuotas maxStringContentLength="655360000" maxArrayLength="655360000"
            maxBytesPerRead="655360" />
          <reliableSession inactivityTimeout="03:00:00" enabled="false" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="Sign" />
            <message clientCredentialType="Windows" algorithmSuite="Basic128" />
          </security>
        </binding>
        <binding name="duplexTcpNoRSKrbLinux" sendTimeout="03:00:00" transferMode="Buffered"
        receiveTimeout="03:00:00"
        transactionProtocol="OleTransactions" maxBufferPoolSize="10485760"
        maxBufferSize="655360000" maxConnections="5000" listenBacklog="100" maxReceivedMessageSize="655360000"
        portSharingEnabled="false">
          <readerQuotas maxStringContentLength="655360000" maxArrayLength="655360000"
            maxBytesPerRead="655360" />
          <reliableSession inactivityTimeout="03:00:00" enabled="false" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="Sign" />
            <!-- <message clientCredentialType="Windows" algorithmSuite="Basic128" /> -->
          </security>
        </binding>
      </netTcpBinding>
      <netNamedPipeBinding>
        <binding name="duplexIPC" sendTimeout="03:00:00" transferMode="Buffered"
         receiveTimeout="03:00:00"
         transactionProtocol="OleTransactions" maxBufferPoolSize="10485760"
         maxBufferSize="655360000" maxConnections="5000" maxReceivedMessageSize="655360000">
          <readerQuotas maxStringContentLength="655360000" maxArrayLength="655360000"
            maxBytesPerRead="655360" />
          <security mode="Transport">
            <transport protectionLevel="None"/>
          </security>
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="UniqeServiceBehavior" name="Intel.FabAuto.ESFW.DS.UBER.Uniqe.WCF.UniqeWCFService">
        <endpoint address="" behaviorConfiguration="" binding="netTcpBinding"
          bindingConfiguration="duplexTcp" name="netTcp" contract="Intel.FabAuto.ESFW.DS.UBER.Uniqe.Core.IUniqe" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="UniqeClientBehavior">
          <callbackDebug includeExceptionDetailInFaults="true" />
          <callbackTimeouts transactionTimeout="02:00:00" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="UniqeServiceBehavior">
          <serviceDebug httpsHelpPageEnabled="false" includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="50000" maxConcurrentInstances="50000" maxConcurrentSessions="50000" />
          <serviceTimeouts transactionTimeout="00:00:00" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>