<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <log4net debug="false">
    <appender name="UberAppender" type="log4net.Appender.RollingFileAppender">

      <!-- do a case-insensitive match for any exception or error -->
      <!--
      <filter type="log4net.Filter.StringMatchFilter">
        <regexToMatch value="(?i)(Exception|Error)" acceptOnMatch="true" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      -->
      
      <file type="log4net.Util.PatternString" value="C:\Temp\log4net_default.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <maxSizeRollBackups value="50" />
      <maximumFileSize value="2MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{yyyy/MM/dd;HH:mm:ss.fff};%m%n" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="UberAppender" />
    </root>
  </log4net>

</configuration>