<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <sectionGroup name="UISettings">
      <section name="AppSettings" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>
  
  <UISettings>
    <AppSettings>
      <add key="UpdatePackageLookupTimeOutInSeconds" value="16"/>
      <add key="UpdatePackageLookupMaxRetries" value="4"/>
      <add key="UpdatePackageLocation32" value="\\amodi-dev1.ltdauto.intel.com\Public\UNIQE\Uber32_4.8.msi,\\autodev.intel.com\Home\amodi\Uber32_4.8.msi,\\10.8.96.80\Home\amodi\UNIQE\Uber32_4.8.msi,\\rf3daawsfs01.ltdauto.intel.com\net20build\EADSS\Uber32_4.8.msi,\\amodi-dev1.ltdauto.intel.com\Public\UNIQE\Uber32.msi,\\10.8.96.80\Home\amodi\UNIQE\Uber32.msi,\\autodev.intel.com\Home\amodi\UNIQE\Uber32.msi,C:\Temp\Uber32.msi"/>
      <add key="UpdatePackageLocation64" value="\\amodi-dev1.ltdauto.intel.com\Public\UNIQE\Uber64_4.8.msi,\\autodev.intel.com\Home\amodi\Uber64_4.8.msi,\\10.8.96.80\Home\amodi\UNIQE\Uber64_4.8.msi,\\rf3daawsfs01.ltdauto.intel.com\net20build\EADSS\Uber64_4.8.msi,\\amodi-dev1.ltdauto.intel.com\Public\UNIQE\Uber64.msi,\\10.8.96.80\Home\amodi\UNIQE\Uber64.msi,\\autodev.intel.com\Home\amodi\UNIQE\Uber64.msi,C:\Temp\Uber64.msi"/>
      <add key="UpdatePackageGUID32" value="{CCCCFAAB-D3E5-4512-B4F1-76E85FC28F30}"/>
      <add key="UpdatePackageGUID64" value="{AAAAAAAA-AAA8-4B76-9DE4-8F2EFFE80D3D}"/>
    </AppSettings>
  </UISettings>

  <!--
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "D:\Temp\WCFTrace\2ClientTraces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  -->
  
  <startup>
    <!--<supportedRuntime version="v2.0.50727"/>-->
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup>
</configuration>
